[submodule "simple-opengl-loader"]
	path = simple-opengl-loader
	url = git@github.com:tsherif/simple-opengl-loader.git
[submodule "stb"]
	path = stb
	url = git@github.com:nothings/stb.git
[submodule "cglm"]
	path = cglm
	url = git@github.com:recp/cglm.git
